<div class="flex flex-col m-auto mt-[10%] space-y-4 border rounded-lg border-white w-96 shadow-lg items-center bg-white py-20 px-10">
  <h2 class="font-sans text-4xl font-bold mb-8">Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name", class: "border-0 mb-8 border-b-2" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "border-0 mb-8 border-b-2" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (#{@minimum_password_length} symbols minimum)", class: "border-0 mb-8 border-b-2" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "border-0 mb-8 border-b-2" %>
    </div>

    <div class="actions mt-8 text-center underline">
      <%= f.submit "Sign up", class: "underline" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
