<h1>User show page</h1>

<% if @user.profile_photo.attached? %>
  <%= image_tag @user.profile_photo.variant(resize_to_limit: [150, 150]) %>
<% else %>
  <%= image_tag(@user.gravatar_url, size: '150x150', alt: 'User Avatar') %>
<% end %>

Name: <%= @user.name %> <br />

Email: <%= @user.email %> <br />

<% if @user.bio %>
  Bio: <%= @user.bio %> <br />
<% end %>

<% @user.posts.each do |post| %>
  <%= render partial: 'shared/post_body', locals: {post: post} %>
<% end %>

