<h1>User show page</h1>

<%= image_tag(@user.gravatar_url, size: '150x150', alt: 'User Avatar') %>

Name: <%= @user.name %> <br />

Email: <%= @user.email %> <br />

<% if @user.bio %>
  Bio: <%= @user.bio %> <br />
<% end %>

<% @user.posts.each do |post| %>
  <%= render partial: 'shared/post_body', locals: {post: post} %>
<% end %>

