<div class="flex flex-col m-auto mt-[10%] space-y-4 border rounded-lg border-white w-96 shadow-lg items-center bg-white py-20 px-10">
  <h2 class="font-sans text-4xl font-bold">Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "border-0 mb-8 border-b-2" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "border-0 mb-8 border-b-2" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions mt-8 text-center underline">
      <%= f.submit "Log in", class: "underline" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
