<h1>Posts</h1>
<% @posts.each do |post| %>
  <div>

    <% post.photos.each do |photo| %>
     <%= image_tag photo.image_url %>
    <% end %>

    Content: <%= post.contents %> <br \>
    Author: <%= User.find(id=post.user_id).email %> <br \>
    Likes: <%= Like.where(post_id: post.id).count %> <br \>
    Comments: <br \>

    <% post.comments.each do |comment| %>
      <div>
        <%= User.find(id=comment.user_id).email %>: <%= comment.contents %>
      </div>
    <% end %>

    <% if post.liked_by_user?(current_user) %>
      <%= button_to 'Dislike', dislike_post_url(post), method: :post %>
    <% else %>
      <%= button_to 'Like', like_post_url(post), method: :post %>
    <% end %>
  </div>
  <hr>
<% end %>
