<!DOCTYPE html>
<html>
  <head>
    <title>Tracklet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gradient-to-r from-sky-500 to-violet-500">
    <% if flash[:notice].present? %>
      <p class="bg-green-200 w-fit p-3 border-2 border-green-600 text-green-700 text-lg rounded-lg"><%= notice %></p>
    <% end %>

    <% if flash[:alert].present? %>
      <p class="bg-red-200 w-fit p-3 border-2 border-rose-600 text-red-700 text-lg rounded-lg"><%= alert %></p>
    <% end %>

    <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
